
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      
        <span>Home</span>
      </button>
    <button mat-menu-item routerLink="timeline">
      
      <span>Car Timelines</span>
    </button>
    <button mat-menu-item routerLink="shop">
      
      <span>Shop</span>
    </button>
    <button mat-menu-item routerLink="discussion">
      
        <span>Discussion Forum</span>
      </button>
      <button mat-menu-item routerLink="news">
      
        <span>News</span>
      </button>
      <button mat-menu-item routerLink="topics">
      
        <span>Topics</span>
      </button>
  </mat-menu>

