<div class = "options_container">
<div class="row" >
  <div class="col-sm-3">
    <div class="card" style = " height: 400px;">
      <div class="card-body">
        <h5 class="card-title">Classic Car News</h5>
        <p class="card-text">Latest, tending<br>
          </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card"  style = " height: 150px;">
      <div class="card-body">
        <h5 class="card-title">Trending Topics and Cars</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>
    
      <div class="card"  style = " height: 150px;">
        <div class="card-body">
          <h5 class="card-title">For You</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col-sm-3">
    <div class="card" style = " height: 400px;">
      <div class="card-body">
        <h5 class="card-title">Deals and Sales</h5>
        <p class="card-text">special event<br>
          </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
</div>
