<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-primary mb-3">
       
        <div class="card-body" >
          <h5 class="card-title">Marketplace</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card border-primary mb-3">

        <div class="card-body">
          <h5 class="card-title">Shop for Parts</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card border-primary mb-3">
   
        <div class="card-body">
          <h5 class="card-title">Discussion Forum</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
